doctype html
html
    head
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
        //link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css")
        //link(rel='stylesheet', href='stylesheets/style.css')
    body
        :verbatim
        include navbar.html
        br
        br
        h2 &nbsp Employee Details
        table
        div
          h4
            tr
              td &nbsp &nbsp Name &nbsp &nbsp
              td &nbsp &nbsp Address  &nbsp &nbsp
              td &nbsp &nbsp Email  &nbsp &nbsp
              td &nbsp &nbsp Phone  &nbsp &nbsp
              td &nbsp &nbsp Office  &nbsp &nbsp
              td &nbsp &nbsp Manager  &nbsp &nbsp
            tr
              td