doctype html
html
    head
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
        //link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css")
        //link(rel='stylesheet', href='stylesheets/style.css')
    body
        :verbatim
        include navbar.html
        br
        br
        h2 &nbsp My Leads
        table
        div
            h4
                tr
                    td &nbsp &nbsp First Name &nbsp &nbsp
                    td &nbsp &nbsp Last Name &nbsp &nbsp
                    td &nbsp &nbsp Title  &nbsp &nbsp
                    td &nbsp &nbsp Email  &nbsp &nbsp
                    td &nbsp &nbsp Phone  &nbsp &nbsp
                    td &nbsp &nbsp Lead Source  &nbsp &nbsp
                    td &nbsp &nbsp Lead Status  &nbsp &nbsp
                tr
                    td

