doctype html
html
    head
        title Responsive Form
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css")
        link(rel='stylesheet', href='stylesheets/style.css')
    body
        .login.well

            :verbatim
            include navbar.html
            :verbatim
            include responsive.html

